# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123123
DB_DATABASE=app_db

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=1d

# App Ports
ADMIN_API_PORT=3001
WEBSITE_API_PORT=3002
MOBILE_API_PORT=3003
